/* Define the color palette */
:root {
  --primary-color: #ff5a5f; /* Red */
  --secondary-color: #ffa68f; /* Orange */
  --accent-color: #ffd2c5; /* Light Orange */
  --text-color: #ffffff; /* White */
}

/* Set the background image and styling */
body {
  background-image: url("dance.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

/* Styling for the App component */
.App {
  text-align: center;
  padding: 40px;
  color: var(--text-color);
}

.title {
  /* font-family: 'Fredoka One', cursive; */
  font-family: "Amatic SC", cursive;
  margin-bottom: 20px;
  font-size: 80px;
  font-weight: bold;
}

.soundboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.sound-button {
  padding: 20px;
  margin: 10px;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: "Amatic SC", cursive;
  font-size: 48px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.sound-button:hover {
  transform: scale(1.1);
  animation: jiggle 0.3s infinite linear;
  background: linear-gradient(
    to right,
    rgba(238, 130, 238, 0.8),
    rgba(139, 0, 139, 0.8),
    rgba(0, 0, 255, 0.8),
    rgba(0, 255, 0, 0.8),
    rgba(255, 255, 0, 0.8),
    rgba(255, 165, 0, 0.8),
    rgba(255, 0, 0, 0.8)
  );
}

@keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.sound-button:hover::after {
  transform: scale(1);
  opacity: 1;
}

.stop-button {
  padding: 20px;
  margin: 10px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-size: 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.add-sound-button {
  padding: 20px;
  margin: 10px;
  background-color: var(--accent-color);
  font-family: "Amatic SC", cursive;
  color: #ff5a5f;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.add-sound-button::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8) 10%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.8) 90%
  );
  background-size: 200% auto;
  background-position: -100% center;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.add-sound-button:hover::after {
  transform: scale(1);
  opacity: 1;
}

.recording-info {
  margin-top: 20px;
  font-size: 24px;
}

.save-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sound-name-input {
  padding: 10px;
  margin-right: 10px;
  background-color: var(--accent-color);
  color: var(--text-color);
  font-size: 16px;
  border: none;
  border-radius: 8px;
}

.save-button {
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-family: "Amatic SC", cursive;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Styling for the audio player */
.audio-player {
  margin-top: 20px;
}
